.footer{
    width: 100%;
    position: absolute;
    background-color: white;
    border-top: 1px solid #000;

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 50px 80px;

        &__p{
            font-weight: bold;
        }

        &__ul{
            margin-top: 10px;
            list-style: none;
        }

        &__li{
            margin-top: 10px;
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }

    &__copyright{
        margin-top: 60px;
        margin-left: 80px;
        margin-bottom: 10px;
    }

    &__final{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid #000;
        margin-bottom: 30px;

        &__izquierda{
            margin-left: 80px;
            margin-top: 20px;
            justify-self: left;

            &__ul{
                display: flex;
                list-style: none;
                padding-left: 0;
                gap: 50px;
            }

            &__a{
                text-decoration: none;
                color: #000;
            }
        }
    
        &__derecha{
            display: flex;
            margin-right: 80px;
            margin-top: 20px;
            justify-self: right;

            &__p{
                margin-right: 30px;
            }
        }
    }
}
